//Dish Signup
.dish-card {
	position: absolute;
	top: 26px;
	right: 10px;
	left: 10px;
	z-index: 1;
	height: 40px;
	background-color: #fafafa;
	box-shadow: 0 0 1px transparentize(#333,0.7);
	color: transparentize(#333,0.3);
	border-radius: 2px;
	@include transition($all);
	@include transform(translate3d(0,100px,0));
	opacity: 0;
	pointer-events: none;
	&.active {
		@include transform($torigin);
		opacity: 1;
		pointer-events: auto;
	}
	.dish-card-title {
		background-color: #eaeaea;
		text-align: center;
		height: 40px;
		line-height: 40px;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
	}
	.dish-card-input {
		height: 40px;
		line-height: 40px;
	}
	.dish-card-button {
		@include button(40px,#eaeaea,transparentize(#333,0.3));
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
	}
}