// Fonts
@font-face {
  font-family: 'raleway-extra-light';
  src: url('../fonts/raleway-extralight-webfont.ttf') format('opentype');
 font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'raleway-thin';
  src: url('../fonts/raleway-thin-webfont.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'raleway-light';
  src: url('../fonts/raleway-light-webfont.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url('../fonts/raleway-regular-webfont.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'raleway-medium';
  src: url('../fonts/raleway-medium-webfont.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'raleway-semibold';
  src: url('../fonts/raleway-semibold-webfont.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'raleway-bold';
  src: url('../fonts/raleway-bold-webfont.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'raleway-extra-bold';
  src: url('../fonts/raleway-extrabold-webfont.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'raleway-heavy';
  src: url('../fonts/raleway-heavy-webfont.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ziamimi-light';
  src: url('../fonts/ziamimi-light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ziamimi';
  src: url('../fonts/ziamimi-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ziamimi-bold';
  src: url('../fonts/ziamimi-bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ionicons';
  src: url('../fonts/ionicons.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'manifold-bold';
  src: url('../fonts/manifoldcf-bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'manifold-bold-oblique';
  src: url('../fonts/manifoldcf-bold-oblique.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'manifold-demi-bold';
  src: url('../fonts/manifoldcf-demi-bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'manifold-demi-bold-oblique';
  src: url('../fonts/manifoldcf-demi-bold-oblique.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'manifold-extra-bold';
  src: url('../fonts/manifoldcf-extra-bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'manifold-extra-bold-oblique';
  src: url('../fonts/manifoldcf-extra-bold-oblique.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'manifold-extended-bold';
  src: url('../fonts/manifoldcf-extended-bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'manifold-extended-demi-bold';
  src: url('../fonts/manifoldcf-extended-demi-bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'manifold-extended-extra-bold';
  src: url('../fonts/manifoldcf-extended-extra-bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'manifold-extended-light';
  src: url('../fonts/manifoldcf-extended-light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'manifold-extended-regular';
  src: url('../fonts/manifoldcf-extended-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'manifold-light';
  src: url('../fonts/manifoldcf-light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'manifold-light-oblique';
  src: url('../fonts/manifoldcf-light-oblique.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'manifold';
  src: url('../fonts/manifoldcf-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'manifold-regular-oblique';
  src: url('../fonts/manifoldcf-regular-oblique.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'visby-bold';
  src: url('../fonts/visbycf-bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'visby-bold-oblique';
  src: url('../fonts/visbycf-bold-oblique.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'visby-demi-bold';
  src: url('../fonts/visbycf-demi-bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'visby-demi-bold-oblique';
  src: url('../fonts/visbycf-demi-bold-oblique.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'visby-extra-bold';
  src: url('../fonts/visbycf-extra-bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'visby-extra-bold-oblique';
  src: url('../fonts/visbycf-extra-bold-oblique.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'visby-heavy';
  src: url('../fonts/visbycf-heavy.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'visby-heavy-oblique';
  src: url('../fonts/visbycf-heavy-oblique.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'visby-light';
  src: url('../fonts/visbycf-light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'visby-light-oblique';
  src: url('../fonts/visbycf-light-oblique.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'visby';
  src: url('../fonts/visbycf-medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'visby-oblique';
  src: url('../fonts/visbycf-medium-oblique.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'visby-thin';
  src: url('../fonts/visbycf-thin.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'visby-thin-oblique';
  src: url('../fonts/visbycf-thin-oblique.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}